.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Content fills space between header & footer */
.page-content {
  flex: 1;
  width: 100%;
  background-color: #f7f9fc;
  padding: 40px 0;
}
